<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/_head'); %>
<body>
    <%- include('../partials/_nav'); %>
    <div class="container d-flex flex-column align-items-center mt-5 pt-5" id="container">
        <% if(logged_in === false){ %>
            <h3 class="main-title">You are not logged in.</h3>
            <a href="/auth/login">Go to Login page</a>
        <% } else{ %>  
            <h3 class="main-title"><u>Your Profile</u></h3>
            <dl class="profile mt-3">
                <dt><strong>Name: </strong></dt>
                <dd><%= user.name %></dd>
                <dt><strong>Email: </strong></dt>
                <dd><%= user.email %></dd>
                <% if(user.address.street){ %>
                    <dt><strong>Address: </strong></dt>
                    <dd><%= user.address.street %> street, <%= user.address.suite %>, <%= user.address.zipcode %>, <%= user.address.city %></dd>
                <% } else{ %> 
                    <dt><strong>Address: </strong></dt>
                    <dd>You didn't saved an address yet.</dd>
                <% } %>
                <% if(user.phone){ %>
                    <dt><strong>Phone number: </strong></dt>
                    <dd><%= user.phone %></dd>
                <% } else{ %> 
                    <dt><strong>Phone number: </strong></dt>
                    <dd>You didn't saved a phone number yet.</dd>
                <% } %>
            </dl>
            <a href="/profile/edit" class="mt-3"><button class="btn btn-outline-danger">Edit profile</button></a>
        <% } %>
    </div>

    <%- include('../partials/_footer'); %>
    <%- include('../partials/_scripts'); %>
    <script src="js/profile.js"></script>
</body>
</html>