<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/_head'); %>
<body>
    <%- include('../partials/_nav'); %>
    <div class="container m-5" id="container">
    <% if(admin){ %>
        <%- include('../partials/_breadcrumbs'); %>
        <div class="invalid bg-danger mt-3 d-none" id="invalid-add">
            <p class="text-white p-2 m-0">The product already exists!</p>
        </div>
        <div id="new-phone-container" class ="new-phone hide d-flex justify-content-center flex-column align-items-center text-left">
            <form class="new-phone-form" id="new-phone-form">
                <h3 class="text-center mb-3"><u>Add product</u></h3>
                <div class="input-group mb-3">
                    <span class="input-group-text" for="add-brand" id="basic-addon1">Brand*</span>
                    <input id="add-brand" name="brand" type="text" class="form-control" placeholder="ex. : Samsung" aria-label="ex. : Samsung" aria-describedby="basic-addon1" required>
                </div>
                <div class="invalid-feedback mb-2" id="invalid-brand-add">
                    Invalid product brand.
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" for="add-name" id="basic-addon1">Name*</span>
                    <input id="add-name" name="name" type="text" class="form-control" placeholder="ex. : Galaxy S21" aria-label="ex. : Galaxy S21" aria-describedby="basic-addon1" required>
                </div>
                <div class="invalid-feedback mb-2" id="invalid-name-add">
                    Invalid product name.
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" for="add-os" id="basic-addon1">OS*</span>
                    <input id="add-os" name="os" type="text" class="form-control" placeholder="ex. : Android, iOS" aria-label="ex. : Android, iOS" aria-describedby="basic-addon1" required>
                </div>
                <div class="invalid-feedback mb-2" id="invalid-os-add">
                    Invalid product operating system.
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" for="add-price" id="basic-addon1">Price*</span>
                    <input id="add-price" name="price" type="text" class="form-control" placeholder="ex. : 899" aria-label="ex. : 899" aria-describedby="basic-addon1" required>
                </div>
                <div class="invalid-feedback mb-2" id="invalid-price-add">
                    Invalid price format.
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" for="add-discount" id="basic-addon1">Discount</span>
                    <input id="add-discount" name="discount" type="text" class="form-control" placeholder="ex. : 250" aria-label="ex. : 250" aria-describedby="basic-addon1">
                </div>
                <div class="invalid-feedback mb-2" id="invalid-discount-add">
                    Invalid discount format.
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" for="add-quantity" id="basic-addon1">Quantity*</span>
                    <input id="add-quantity" name="quantity" type="text" class="form-control" placeholder="ex. : 100" aria-label="ex. : 100" aria-describedby="basic-addon1" required>
                </div>
                <div class="invalid-feedback mb-2" id="invalid-quantity-add">
                    Invalid quantity format.
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" for="add-date" id="basic-addon1">Availability date*</span>
                    <input id="add-date" type="text" name="date" class="form-control" placeholder="ex. : 2021-08-13" aria-label="ex. : 2021-08-13" aria-describedby="basic-addon1" required>
                </div>
                <div class="invalid-feedback mb-2" id="invalid-date-add">
                    Invalid date format.
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" for="add-rating" id="basic-addon1">Rating</span>
                    <input id="add-rating" name="rating" type="text" class="form-control" placeholder="ex. : 4.5" aria-label="ex. : 4.5" aria-describedby="basic-addon1">
                </div>
                <div class="invalid-feedback mb-2" id="invalid-rating-add">
                    Invalid rating format.
                </div>
                <div class="add-new-buttons d-flex justify-content-between">
                    <button type="submit" id="add-phone" class="btn btn-danger text-center">Add</button>
                    <a href="/phones"><button type="button" id="cancel-add" class="btn btn-dark text-center">Cancel</button></a>
                </div>
                
            </form>
        </div>
        <div class="modal" id="phone-added" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Successfully added!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
    <% } else {%>
        <div class="text-center mt-5">
            <h3>You're not allowed on this page</h3>
            <a href="/">Go back to Home page</a>
        </div>
    <% } %>
    </div>
    <%- include('../partials/_footer'); %>
    <%- include('../partials/_scripts'); %>
    <script src="js/phones/create.js"></script>
</body>
</html>