<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/_head'); %>
<body>
    <%- include('../partials/_nav'); %>
    <div class="container pt-5" id="container">
        <%- include('../partials/_breadcrumbs'); %>
        <div class="title mt-3">
        <h4 class="title" id="brand"><%= phone.brand %> <span class="subtitle text-danger" id="name"><%= phone.name %></span></h4>
        </div>
        <div class="container mt-3">
        <div class="row">
            <div class="phone-img col-sm-6 col-12" id="phone-img">
                <img src="images/<%= phone.image %>" alt="Phone placeholder">
            </div>
            <div class="details col-sm-6 col-12 align-self-center" id="phone-details">
                <% if(phone.discount > 0){ %>
                    <h5>Price : <span class="discounted"><%= phone.price %></span> <span id="price"><%= phone.price - phone.discount %></span> RON</h5>
                <% } else{ %>  
                    <h5>Price : <span id="price"><%= phone.price %></span> RON</h5>
                <% } %>
                <div id="rating">
                    <h5>Rating : 
                        <% for(let i=1;i<=5;i++) {%>
                            <% if(Math.trunc(phone.rating) >= i){ %>
                                <span class="fa fa-star checked"></span>
                            <% } else{ %>  
                                <span class="fa fa-star unchecked"></span>
                            <% } %>
                        <% } %>
                        <% if(phone.rating > 0){ %>
                            <span> (<%= phone.rating %>)</span>
                        <% } else{ %>  
                            <span> (-)</span>
                        <% } %>
                    </h5>
                </div>
                <p>(Average: <%= average %>)</p>
                <h5>Operating system : <span class="detail-value"><%= phone.operating_system %></span></h5>
                <h5>Available from date : <span class="detail-value"><%= phone.availability_date %></span></h5>
                <h5>In stock : 
                    <% if(phone.quantity > 0){ %>
                        <span class="detail-value">YES</span>
                    <% } else{ %>  
                        <span class="detail-value">NO</span>
                    <% } %>
                    
                </h5>
                <% if(phone.quantity > 0){ %>
                    <button id="add-to-cart" class="text-center btn btn-outline-danger mt-3">Add to cart</button>
                <% } else{ %>  
                    <button id="add-to-cart" class="text-center btn btn-outline-danger mt-3" disabled>Add to cart</button>
                <% } %>            </div>
            </div>
        </div>
    </div>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-body">
            Phone added to cart!
          </div>
        </div>
    </div>
    <%- include('../partials/_footer'); %>

    <%- include('../partials/_scripts'); %>
    <script src="js/phones/details.js"></script>
</body>
</html>