<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/_head'); %>
  <body>
    <%- include('./partials/_nav'); %>
    <div class="container mt-5 pt-5" id="container">
    </div>
    <% if(logged_in){ %>
    
    <div class="container mt-3 pt-5" id="address-container">
      <div class="invalid bg-danger mt-5 d-none text-center" id="invalid-order">
        <p class="text-white p-3">An error occurred! Please check the addresses you entered.</p>
      </div>
      <div class="section-title">
        <span class="section-number">2</span>
        <h3>Select Address</h3>
      </div>
      <form class="p-2 address-form" id="address-form">
        <div class="mb-3" id="delivery-address">
          <%- include('./partials/_address',{title:"Delivery Address"}); %>
        </div>
        <div id="billing-address">
          <%- include('./partials/_address',{title:"Billing Address"}); %>
        </div>
      </form>
    </div>
    <% } %>
    <div class="modal" id="order-success" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">You ordered!</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <%- include('./partials/_footer'); %>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.0/umd/popper.min.js"
      integrity="sha512-PZrlUFhlOigX38TOCMdaYkhiqa/fET/Lztzjn+kdGxefUZanNUfmHv+9M/wSiOHzlcLX/vcCnmvOZSHi5Dqrsw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <%- include('./partials/_scripts'); %>
    <script src="js/cart.js"></script>
  </body>
</html>
