<div class="row g-3 address-section">
  <h4><%= title %></h4>
  <div class="col-12">
    <% if(title === "Delivery Address"){ %>
    <label for="delivery-address-dropdown">Choose an address:</label>
    <select id="delivery-address-dropdown">
      <option value="existing">Existing address</option>
      <option value="new">New address</option>
    </select>
    <% } %> <% if(title === "Billing Address"){ %>
    <label for="billing-address-dropdown">Choose an address:</label>
    <select id="billing-address-dropdown">
      <option value="existing">Existing address</option>
      <option value="new">New address</option>
    </select>
    <% } %>
  </div>
  <div class="col-md-4">
    
    <% if(title === "Delivery Address"){ %>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend1">Street</span>
        <input
          type="text"
          class="form-control"
          id="inputStreetDelivery"
          value="<%= user.address.street %>"
          aria-describedby="inputGroupPrepend1"
          required
        />
      </div>
      <div class="invalid-feedback mb-2" id="invalid-delivery-street">
        Invalid street format.
      </div>
    <% } else {%>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend1">Street</span>
        <input
          type="text"
          class="form-control"
          id="inputStreetBilling"
          value="<%= user.address.street %>"
          aria-describedby="inputGroupPrepend1"
          required
        />
      </div>
      <div class="invalid-feedback mb-2" id="invalid-billing-street">
        Invalid street format.
      </div>
    <% } %>
  </div>
  <div class="col-md-4">
    <% if(title === "Delivery Address"){ %>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend2">City</span>
        <input
          type="text"
          class="form-control"
          id="inputCityDelivery"
          value="<%= user.address.city %>"
          aria-describedby="inputGroupPrepend2"
          required
        />
      </div>
      <div class="invalid-feedback mb-2" id="invalid-delivery-city">
        Invalid city format.
      </div>
    <% } else {%>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend2">City</span>
        <input
          type="text"
          class="form-control"
          id="inputCityBilling"
          value="<%= user.address.city %>"
          aria-describedby="inputGroupPrepend2"
          required
        />
      </div>
      <div class="invalid-feedback mb-2" id="invalid-billing-city">
        Invalid city format.
      </div>
    <% } %>
  </div>
  <div class="col-md-4">
    
    <% if(title === "Delivery Address"){ %>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend3">Suite</span>
        <input
          type="text"
          class="form-control"
          id="inputSuiteDelivery"
          value="<%= user.address.suite %>"
          aria-describedby="inputGroupPrepend3"
          required
        />
      </div>
      <div class="invalid-feedback mb-2" id="invalid-delivery-suite">
        Invalid suite format.
      </div>
    <% } else {%>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend3">Suite</span>
        <input
          type="text"
          class="form-control"
          id="inputSuiteBilling"
          value="<%= user.address.suite %>"
          aria-describedby="inputGroupPrepend3"
          required
        />
      </div>
      <div class="invalid-feedback mb-2" id="invalid-billing-suite">
        Invalid suite format.
      </div>
    <% } %>
  </div>
  <div class="col-md-3">
    
    <% if(title === "Delivery Address"){ %>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend4">Zip</span>
        <input
          type="text"
          class="form-control"
          id="inputZipDelivery"
          value="<%= user.address.zipcode %>"
          aria-describedby="inputGroupPrepend4"
          required
        />
      </div>
      <div class="invalid-feedback mb-2" id="invalid-delivery-zip">
        Invalid zip code format.
      </div>
    <% } else {%>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend4">Zip</span>
        <input
          type="text"
          class="form-control"
          id="inputZipBilling"
          value="<%= user.address.zipcode %>"
          aria-describedby="inputGroupPrepend4"
          required
        />
      </div>
      <div class="invalid-feedback mb-2" id="invalid-billing-zip">
        Invalid zip code format.
      </div>
    <% } %>
  </div>
</div>
